# Фронтенд (твоя папка angular-app)
angular-app/node_modules/
angular-app/.angular/
angular-app/dist/

# Бэкенд
backend/venv/
backend/.venv/
**/__pycache__/
db.sqlite3

# Системное
.DS_Store
.vscode/
.env 