<div class="login-page">
  <div class="bg-glow"></div>
  
  <div class="login-card">
    <div class="logo">
      FITNESS<span>APP</span>🏛
    </div>
    <div class="title-block">
  <h2 class="card-title">IDENTIFICATION REQUIRED</h2>
  <p class="subtitle">Добро пожаловать в команду</p>
    </div>
    <form (ngSubmit)="onLogin()">
      <div class="input-stack">
        <div class="input-group">
          <label>ACCESS KEY (USERNAME)</label>
          <input 
            type="text" 
            name="username" 
            [(ngModel)]="loginData.username" 
            placeholder="Username"
            required>
        </div>

        <div class="input-group">
          <label>PASSWORD</label>
          <input 
            type="password" 
            name="password" 
            [(ngModel)]="loginData.password" 
            placeholder="••••••••"
            required>
        </div>
      </div>

      @if (errorMessage) {
        <div class="error-alert">
          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="12" r="10"/><line x1="12" y1="8" x2="12" y2="12"/><line x1="12" y1="16" x2="12.01" y2="16"/></svg>
          {{ errorMessage }}
        </div>
      }

      <button type="submit" class="btn-glow">
        Log In
      </button>
    </form>
    
    <div class="footer-links">
      <span>NEW USER? <a routerLink="/register">CREATE ACCOUNT</a></span>
    </div>
  </div>
</div>